<table id="table">
  <thead>
    <tr>
      <th>Result</th>
      <td colspan="3">Probability</td>
    </tr>
  </thead>
  <tbody>
    <%
      let trCountEJS = 5;
      if (table.resultIDs.length) {
        trCountEJS = table.resultIDs.length;
      };
      if (locals.trCount) {
        trCountEJS = Number.parseInt(trCount);
      };
      const trCountPlus = trCountEJS + 1;
      const trCountMinus = trCountEJS - 1;
      let newOrEdit;
      (table.resultIDs.length > 0) ? newOrEdit = `edit` : newOrEdit = `new`;
    %>
    <% for (let i = 0; i < trCountEJS; i++) { %>
      <tr>
        <th>
          <label for="result"></label>
          <select id="result" name="result">
            <% if (table.resultIDs[i]) { %>
              <option selected value="<%= table.resultIDs[i] %>"><%= resultNames[i] %></option>
            <% } else { %>
              <option selected value=""></option>
            <% }; %>
            <% allOutcomes.forEach(allOutcome => { %>
              <option value="<%= allOutcome.id %>"><%= allOutcome.name %></option>
            <% }); %>
            <% allTables.filter(allTable => allTable.id !== table.id).forEach(allTable => { %>s
              <option value="<%= allTable.id %>"><%= allTable.name %></option>
            <% }); %>
              <option value=""></option>
          </select>
        </th>
        <td>
          <% if (table.resultIDs[i]) { %>
            <input class="prob" type="text" name="prob" value="<%= table.resultProbs[i] %>"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
          <% } else { %>
            <input class="prob" type="text" name="prob"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
          <% }; %>
        </td>
          <td><span>%</span></td>
      </tr>
    <% }; %>
  </tbody>
  <tfoot>
  </tfoot>
</table>
<br>
<button type="submit" name="modifyRowValues" value="<%= [trCountPlus, newOrEdit] %>" form="modifyRows">Add Row</button>
<button type="submit" name="modifyRowValues" value="<%= [trCountMinus, newOrEdit] %>" form="modifyRows">Remove Row</button>