<div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%= result.name %>">
</div>
<br>
<div>
    <label for="href">Link</label>
    <input type="text" name="href" id="href" value="<%= result.href %>">
</div>
<br>
<div>
    <label for="dsc">Description</label>
    <textarea name="dsc" id="dsc"><%= result.dsc %></textarea>
</div>
<!-- <br>
<div>
    <div>
        <label for="sourceName">Source</label>
        <input type="text" name="sourceName" id="sourceName" value="<%= result.sourceName %>">
    </div>
    <br>
    <div>
        <label for="sourceLink">Link to Source</label>
        <input type="text" name="sourceLink" id="sourceLink" value="<%= result.sourceLink %>">
    </div>
</div> -->
<!-- <div>
    <h3>Traits</h3>
    <table id="traits-table">
        <thead>
            <tr>
                <th>Trait</th>
                <td>Value</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <input
                    type="text"
                    name="traitLabel1"
                    id="traitLabel1"
                    value="<%= result.traitLabel1 %>">
                </th>
                <td>
                    <input
                    type="text"
                    name="trait1"
                    id="trait1"
                    value="<%= result.trait1 %>">
                </td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <button type="button" id="add-trait">Add Trait</button>
</div>
<div>
    <h3>Tags</h3>
    <button type="button" id="add-tag">Add Tag</button>
</div> -->