<div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%= result.name %>">
</div>
<br>
<div>
    <label for="href">Link</label>
    <input type="text" name="href" id="href" value="<%= result.href %>">
</div>
<br>
<div>
    <label for="dsc">Description</label>
    <input type="textarea" name="dsc" id="dsc" value="<%= result.dsc %>">
</div>
<div>
    <div>
        <label for="source">Source</label>
        <input type="text" name="source" id="source" value="<%= result.source %>">
    </div>
    <div>
        <label for="sourceLink">Link to Source</label>
        <input type="text" name="sourceLink" id="sourceLink" value="<%= result.sourceLink %>">
    </div>
</div>